@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$primary-color: #1100ac;
$primary-font: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;
    border-bottom: 3px solid $primary-color;
    h1 {
        color: $primary-color;
    }

    ul#buttons {
        display: flex;
        align-self: flex-end;
        list-style-type: none;

        li {
            margin: 1em;

            a, .button {
                background-color: $primary-color;
                color: #fff;
                padding: .5em 2em;
                border: none;
                border-radius: 20px;
                box-shadow: 1px 1px 2px 2px lightgray;
            }
            
            a:hover, .button:hover {
                background-color: blue;
            }
            
            a, a:hover {
                text-decoration: none;
            }
        }
    }
}

main {
    margin: 1em;
    padding: 1em;

    section {
        display: flex;
        flex-direction: row;

        article.product {
            margin: 1em;
            padding: 3em;
            box-shadow: 0 0 5px 5px lightgray;
            border-radius: 10px;
            input {
                text-align: left;
            }
                
            .product-info {
                text-align: center;
            }
        }
    }

    #form-elements {
        .form-element {
            margin: 1em;
            display: flex;
            align-items: center;

            label {
                width: 20%;
                margin: 0 1em;
            }

            input, select {
                padding: .6em;
                outline: none;
                border-radius: 5px;
                border: 1px solid gray;
                width: 50%;
            }
        }
    }

    .description {
        text-align: center;
    }
}

